.footer {
    width: 100%;
    height: auto;
    padding: 60px 5%;
    background: var(--color_black);

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer_item {
    width: auto;
    height: auto;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
}

.footer_logo_container {
    width: 112px;
    height: 112px;
}

.footer_logo_icon {
    width: 100%;
    height: 100%;
    background: var(--color_white);
    border-radius: 100%;
}

.instagram_container {
    width: 46px;
    height: 42px;
}

.instagram_icon {
    width: 100%;
    height: 100%;
    filter: invert(100%);
    transition: ease .3s;
    padding: 6px 8px;
}

.footer_nav {
    width: auto;
    height: auto;
}

.footer_menu {
    width: auto;
    height: auto;
    list-style: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer_menu_item {
    width: auto;
    height: auto;
    position: relative;
}

.footer_menu_link {
    width: auto;
    height: auto;
    text-decoration: none;
    color: var(--color_white);
    font-size: 18px;
}

.footer_menu_link::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--color_orange);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: ease .3s;
}

@media(hover:hover) {
    .instagram_icon:hover {
        background: #0555fe;
    }

    .footer_menu_link:hover::after {
        width: 100%;
    }
}

@media screen and (max-width: 674px) {
    .footer {
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }

    .footer_item {
        align-items: center;
        gap: 15px;
    }

    .footer_menu {
        flex-direction: column;
    }
}